.image-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
	padding: 20px;
}

.image-item {
	position: relative;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image-item img {
	border-radius: 0;
	width: 100%;
	height: 200px; /* Fixed height */
	object-fit: cover; /* Ensures the image fits within the box without stretching */
	display: block;
}

.image-title {
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
	width: 100%;
}
