:root {
	--primary-blue: #4285f4;
	--hover-blue: #357ae8;
	--light-gray: #f5f5f5;
	--light-gray2: #e4e4e4;
	--dark-gray: #5f5f5f;
	--darker-gray: #4f4f4f;
	--gray-black: #1e1e1e;

	/* Gradient */
	--davys-gray: #54566bff;
	--gunmetal: #303440ff;
	--electric-blue: #6beffdff;
	--cornflower-blue: #5196faff;
}

@font-face {
	font-family: 'AdobeClean';
	src: url('./assets/fonts/AdobeClean-Regular.ttf') format('truetype'),
		url('./assets/fonts/AdobeClean-Regular.woff') format('woff'),
		url('./assets/fonts/AdobeClean-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'AdobeClean', sans-serif;
	line-height: 2rem;
}

.AuthLayout {
	background-image: url('./assets/backgrounds/auth-bg.jpg');
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	display: flex;
	padding: 1rem 6rem 0rem 1rem;
}

.LogoArea {
	flex: 2;
	display: flex;
	position: relative;
}

.MainContent {
	flex: 1;
}

.brand-area {
	position: absolute;
	top: 40%;
	left: 20%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.brand-area span {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
	/* background-color: red; */
}
.brand-area span span {
	font-size: 3rem;
}
.brand-area p {
	font-size: 1.5rem;
}
.brand-area span span,
.brand-area p {
	color: var(--light-gray2);
}
#logo {
	width: 60px;
}

.MainLayout {
	width: 100vw;
	height: 100vh;
	display: flex;
	padding: 5px;
	gap: 0.2rem;
	background-color: var(--light-gray);
}

.Sidebar {
	background-image: url('./assets/backgrounds/auth-bg.jpg');
	background-size: cover;
	max-width: 4rem;
	width: 100%;
	border-radius: 4px;
}

.MainLayout .MainContent {
	flex: 1;
	/* background-image: url('./assets/backgrounds/auth-bg.jpg'); */
	background-color: var(--light-gray2);
	background-size: cover;
	background-position: center;
	border-radius: 4px;
	overflow-y: scroll;
}

@media only screen and (max-width: 1200px) {
	.AuthLayout {
		padding: 1rem;
		flex-direction: column;
		align-items: center;
	}

	.LogoArea {
		display: none; /* Hide the LogoArea on smaller screens */
	}
}
