.header {
	width: 100%;
	height: 3rem;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.2rem 1rem 0.2rem 1rem;
}

.header .profile-button {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

img {
	height: 2rem;
	width: 2rem;
	border-radius: 100%;
}

.header span {
}
